*.kir

.venv/**
!.venv/.gitkeep

.idea/**
.vscode/**

**/__pycache__

.drawppTmp/
!.drawppTmp/.gitkeep

build/
libs/sdlEncapsulation/bin

# Keep the one on Windows because it's painful to compile.
!libs/sdlEncapsulation/bin/libsdlEncapsulation.dll