*.kir

.venv/**
!.venv/.gitkeep

.venv-exp/

.idea/**
.vscode/**

**/__pycache__

.drawppTmp/
!.drawppTmp/.gitkeep

build/
libs/sdlEncapsulation/bin

*.obj
fun.exe
pydpp/ide/**/SDL2.dll

cmake-build-*/

dpp-build/