[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "5.2.2"

[dev-packages]
pydpp = {file = ".", editable = true}

[requires]
python_version = "3.12"
